@import "../../Assets/Style/StyleData.scss";
.pagination-wapper {
  margin-top: 20px;

  border-top: 2px solid $dark-clr;
  border-bottom: 2px solid $dark-clr;
  display: flex;
  justify-content: space-between;
  .pagination-btns {
    .btn {
      background-color: transparent;
      color: $dark-clr;
      border: none;
      padding: 5px 10px 5px 10px;
      margin-top: -3px;
      font-size: 14px;
      border-radius: 0;
      box-shadow: none;
      &:hover {
        color: #fff;
        background-color: $dark-clr;
      }
    }
  }

  .pagination {
    margin-bottom: 0;

    li.page-item.active {
      background-color: $dark-clr;
      font-size: 12px;
      span {
        background-color: $dark-clr;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    li.page-item a {
      background-color: transparent;
      border: none;
      color: $dark-clr;
      font-size: 12px;
      padding-left: 20px;
      border-radius: 0;
      padding-right: 20px;
      box-shadow: none;
      &:hover {
        color: #fff;
        background-color: $dark-clr;
      }
    }
  }
}
