@import "../../Assets/Style/StyleData.scss";
.card {
  position: relative;
  border-color: $primary-color-two;
  border-radius: 10px;
  box-shadow: 0 0 3px #ff937350;

  .closed {
    color: $dark-clr;
  }
  .card-head {
    flex: 1 1 20%;
    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-left: 5px;
      color: $primary-color-two;
    }
    p {
      font-size: 14px;
      color: $dark-clr;
    }
    .dotLive {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: $primary-color-two;
      border-radius: 50%;
      display: inline-block;
    }

    .dotClose {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: $dark-clr;
      border-radius: 50%;
      display: inline-block;
    }

    .card-title {
      line-height: normal;

      // border-bottom: 3px solid $dark-clr;
      color: $dark-clr;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 22px;
    }
  }
  .content-wapper {
    flex: 1 1 60%;
    .card-content {
      display: flex;

      div {
        display: flex;
        flex: 1 1 25%;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        span {
          font-size: 14px;
          margin-bottom: 20px;
          color: #000000;
          opacity: 0.7;
        }
        p {
          font-size: 14px;
          color: #000000;
          opacity: 0.7;
        }
      }
    }
    .progress {
      height: 10px;
      margin: 10px 0 0 0;
      .progress-bar {
        background-image: $gradient2;
      }
    }
  }
  .btn {
    border-radius: $borderRadius;
    box-sizing: border-box;
    border: none;
    font-weight: 700;
    font-size: 15px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-image: $gradient2;
    color: white;
    width: 200px;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    flex: 1 1 49%;
    max-width: 49%;
    max-height: 345px;
    .card-head {
      flex: 1 1 100%;
      .card-title {
        border-bottom: 3px solid $dark-clr;
        padding-bottom: 20px;
      }
    }
    .content-wapper {
      .card-content {
        flex-direction: column;
        div {
          flex-direction: row;
          span {
            margin-bottom: 0;
          }
        }
      }
      .progress {
        height: 3px;
        margin: 10px 0 40px 0;
      }
    }
    .btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 45px;
      right: 0;
      padding: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media only screen and (max-width: 574px) {
  .card {
    flex: 1 1 47%;
    max-width: 47%;
  }
}
@media only screen and (max-width: 450px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.grid-view {
  .card {
    width: 24%;
    max-height: 360px;

    @media only screen and (max-width: 992px) {
      width: 32%;
    }
    @media only screen and (max-width: 768px) {
      width: 45%;
    }

    .card-head {
      flex: 1 1 100%;
      .card-title {
        border-bottom: 3px solid $dark-clr;
        padding-bottom: 20px;
        @media only screen and (min-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }
    .content-wapper {
      .card-content {
        flex-direction: column;
        div {
          flex-direction: row;
          span {
            margin-bottom: 0;
          }
        }
      }
      .progress {
        height: 3px;
        margin: 10px 0 40px 0;
      }
    }
    .btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 45px;
      right: 0;
      padding: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
