@import "../../Assets/Style/StyleData.scss";
.fixed-swap-pool {
  background-color: #f5f5f5;
  padding: 32px 0;
  .fixed-swap-form-container {
    background-color: #fff;
    margin: 0 auto;
    padding: 40px 100px;
    width: $container-width;
    h5 {
      color: $dark-clr;
    }

    .form-header {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      flex: 1 1 0%;
      line-height: 15px;
      color: $dark-clr;

      .title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: $dark-clr;
        line-height: 44px;
        padding: 16px 0px;
        -webkit-box-pack: center;
        border-bottom: 4px solid $dark-clr;
        .btn {
          font-weight: bold;
          border: 1px solid $primary-color-two;
          width: 210px;
          height: 48px;
          box-sizing: border-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          border-radius: $borderRadius;
          justify-content: center;
          cursor: pointer;
          background-color: rgb(255, 255, 255);
          color: $secondary-color-three;
          &:focus {
            box-shadow: none;
          }
          &:hover {
            border-color: $dark-clr;
          }
        }
      }
    }

    .form-heading {
      font-size: 26px;
      font-weight: 700;
      color: $dark-clr;
    }
    .label {
      font-style: normal;
      font-weight: bold;
      font-size: 0.9rem;
      line-height: 15px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      color: $dark-clr;
      opacity: 0.7;
    }

    .to-select {
      width: 48%;
      label {
        margin-bottom: -1px;
      }
      .css-1s2u09g-control {
        border: none;
        border-bottom: 1px solid $dark-clr;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
      }
      .css-1pahdxg-control {
        border: none;
        border-bottom: 1px solid $dark-clr;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
      }
      .css-1okebmr-indicatorSeparator {
        background-color: #fff;
      }
    }
    .custom-input {
      width: 100%;
      border-style: solid;
      border-width: 0px 0px 1px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding: 9px 0 4px 0;
      flex: 1 1 0%;
      outline: none;

      &.p28 {
        padding-right: 28px;
      }
    }
    .react-datetime-picker__wrapper {
      padding: 10px;
      border-radius: 8px;
      border-color: $dark-clr;
      .react-datetime-picker__inputGroup {
        input,
        span {
          color: $dark-clr;
        }
      }

      select {
        color: $dark-clr;
      }

      svg {
        line,
        path {
          fill: $dark-clr;
        }
      }
    }
    .addlistbtn {
      background-color: #fff;
      border-color: $dark-clr;
      color: #000;
      font-weight: 500;
      outline: none;
      border: 1px solid;
      font-size: 14px;
      top: -3px;
      box-shadow: none;
      padding: 2px 5px;
      border-radius: 0;
      position: absolute;
      right: 0;
    }
    .divder {
      height: 2px;
      width: 100%;
      background-color: $dark-clr;
      margin: 52px 0px;
    }
    .max-icon {
      position: absolute;
      right: 0;
      top: 4px;
      width: 25px;
      cursor: pointer;
    }
    .wka {
      width: -webkit-fill-available;
    }
    label {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      vertical-align: middle;
      font-size: 16px;
      color: $dark-clr;
      cursor: pointer;
    }
    .sub-btn {
      border-radius: 0;
      font-weight: bold;
      border: none;
      background-image: $gradient2;
      color: rgb(255, 255, 255);
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      border-radius: $borderRadius;
      display: flex;
      box-shadow: none;
      outline: none;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
      &.disable {
        color: rgba(0, 0, 0, 0.2);
        background-image: $gradientd;
      }
    }
  }
}

@media only screen and (min-width: 1367px) {
  .fixed-swap-pool {
    .fixed-swap-form-container {
      width: 1280px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .fixed-swap-pool {
    .fixed-swap-form-container {
      padding: 40px 20px;
      .form-header {
        .title {
          flex-direction: column;

          .btn {
            margin: 30px auto;
          }
        }
      }
    }
  }
}
