@import "../../Assets/Style/StyleData.scss";
.footer {
  padding: 50px 0;
  background-color: #fff;

  .footer-content {
    width: $container-width;
    margin: 0 auto;
    .footer-icons {
      display: flex;
      align-items: center;
      gap: 30px;

      svg {
        path {
          fill: $dark-clr;
          & + path {
            fill: #fff;
          }
        }
      }
    }
    p,
    a {
      font-size: 14px;
      color: $dark-clr;
      opacity: 0.8;
    }
  }
}
@media only screen and (min-width: 1367px) {
  .footer {
    .footer-content {
      width: 1280px;
    }
  }
}
