@import "../../Assets/Style/StyleData.scss";
.filters-container {
  margin-bottom: 20px;
  .filter-tabs {
    min-height: 90px;
    justify-content: space-between;
    align-items: center;

    .filter-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        height: 24px;
        line-height: 24px;
        padding: 0px 8px;
        margin-right: 20px;
        color: #706f6f;
        cursor: pointer;
        border-radius: 5px;

        .f-icon {
          path {
            fill: #fff;
            stroke: $primary-color;
          }
          rect {
            fill: $primary-color;
          }
        }

        &:active,
        &:hover {
          background-color: $dark-clr;
          color: #fff;
        }
        &:active svg path,
        &:hover svg path {
          fill: rgb(255, 255, 255) !important;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
    .action-btn {
      .btn {
        font-weight: bold;
        border: 1px solid $primary-color-two;
        width: 160px;
        height: 48px;
        box-sizing: border-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        border-radius: $borderRadius;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: $secondary-color-three;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          border-color: $dark-clr;
        }
      }
    }
  }
  .search-filter {
    min-height: 80px;
    padding: 20px 0;
    border-top: 2px solid $dark-clr;
    border-bottom: 2px solid $dark-clr;
    display: flex;

    * {
      font-size: 15px;
    }
    .css-1jwi8f4-singleValue {
      font-weight: bold;
      color: $dark-clr;
    }
    .css-b62m3t-container {
      width: -webkit-fill-available;
    }

    p {
      white-space: nowrap;
      font-weight: bold;
      color: $dark-clr;
    }
    .f-div {
      flex: 2 2 20%;
    }
    .f-div:last-child {
      flex: 1 1 10%;
    }

    .css-1pahdxg-control {
      box-shadow: none;
      border: none;
      background-color: transparent;
      &:hover {
        border: none;
        background-color: transparent;
      }
      &:focus {
        border: none;
        background-color: transparent;
      }
    }
    .css-1s2u09g-control {
      border: none;
      background-color: transparent;
    }

    .css-1gtu0rj-indicatorContainer {
      transform: rotate(180deg);
      color: $dark-clr;
      padding: 0;
    }
    .css-tlfecz-indicatorContainer {
      color: $dark-clr;
      padding: 0;
    }
    .css-1okebmr-indicatorSeparator {
      background-color: #fff0;
    }
    .search-filter-search {
      display: flex;
      align-items: center;
      .btn {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $dark-clr;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          path {
            fill: $dark-clr;
          }
        }
      }
      .search-box {
        position: absolute;
        top: 60px;
        left: -20px;
        width: 350px;
        min-height: 254px;
        padding: 20px 24px;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(234, 234, 234);
        z-index: 10;

        .search-option {
          display: flex;
          flex-wrap: wrap;
          -webkit-box-align: center;
          align-items: center;
          margin-bottom: 20px;

          label {
            display: block;
            width: 14px;
            height: 14px;
            cursor: pointer;
            margin-right: 8px;
            background: url("../../Assets/Images/iconcheck.svg") 0px 0px /
              contain no-repeat;
            &.checked {
              background: url("../../Assets/Images/iconchecked.svg") 0px 0px /
                contain no-repeat;
            }
          }
          p {
            font-size: 16px;
            font-weight: 400;
          }
          .implicit {
            width: 100%;
            input {
              border-top: none;
              border-right: none;
              border-left: none;
              border-image: initial;
              border-bottom: 1px solid rgba(0, 0, 0, 0.3);
              width: 100%;
              line-height: 36px;
              font-size: 16px;
              font-weight: 500;
              outline: none;
              margin-top: 5px;
            }
            &.hidden {
              display: none;
            }
          }
        }
        .search-box-btn {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          margin-top: 16px;
          button {
            width: 144px;
            height: 48px;
            box-sizing: border-box;
            border: none;
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
            border-radius: 8px;
            &.black {
              background-image: $gradient2;
              color: rgb(255, 255, 255);
            }
            &.white {
              background-color: rgb(255, 255, 255);
              color: $secondary-color-three;
              border: 1px solid rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }

    .search-filter-view {
      display: flex;
      align-items: center;
      justify-content: end;
      .btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 20px;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          rect {
            fill: $dark-clr;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .filters-container {
    .filter-tabs {
      .filter-btns {
        button {
          margin: 5px;
        }
      }
    }
    .search-filter {
      flex-direction: column;
      .vr {
        display: none;
      }
    }
  }
}
